:root {
  --not-white: #fffaf3;
  --drk-white: #f2e9e1;
  --not-black: #191724;
  --not-red:   #eb6f92;
  --not-blue:  #31748f;
  --not-green: #56949f;
  --not-grey:  #393552;
  --muted:     #6e6a86;
  --hdr-hght:  5rem;
  --lrg-txt:   2.2rem;
}

.light-theme {
  --bg-color: var(--not-white);
  --bg-side:  var(--drk-white);
  --text:     var(--not-black);
}

.dark-theme { 
  --bg-color: var(--not-black); 
  --bg-side:  var(--not-grey);
  --text:     var(--not-white)
}

li p h1{
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

.main-container {
  height: fit-content;
  min-height: 100vh;
  display: flex;
}

.side-note-menu {
  max-height: fit-content;
  min-height: 100vh;
  width: 20rem;
  background-color: var(--bg-side);
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--hdr-hght);
}

.side-nav span {
  color: var(--text);
}

.side-nav span p {
  font-size: var(--lrg-txt);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--bg-color);
}

header, footer {
  height: var(--hdr-hght);
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding: var(--lrg-txt);
}

header a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
}

.note-container-main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.note-area {
  width: 90%
}

.notes-list li {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
}

article {
  margin-bottom: var(--lrg-txt);
}

.read-note-area p {
  color: var(--text);
  font-size: 1.6rem;
}

h1 {
  color: var(--text);
  font-size: 3rem;
}

i {
  font-size: 3rem;
}

.icons {
  color: var(--text);
}

textarea {
  caret-color: var(--not-red);
  border: none;
  border-bottom: 2px solid var(--text);
  outline: none;
  resize: none;
  overflow: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--text);
  font-size: var(--lrg-txt);
}


/* CSS */
button {
  appearance: none;
  background-color: var(--bg-color);
  border: 2px solid var(--text);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--text);
  cursor: pointer;
  display: inline-block;
  font-family:'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 6px;
  min-width: 2px;
  outline: none;
  padding: 10x 18px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 11%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: var(--text);
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}